{% load static %}
<div class="aside_info_wrapper">
  <button class="aside_close"><i class="bi bi-x-lg"></i></button>
  <div class="aside_logo">
    <a href="/" class="light_logo"><img src="{% static 'web/assets/img/logo.svg' %}" alt="logo" height="60" /></a>
    <a href="/" class="dark_logo"><img src="{% static 'web/assets/img/logo.svg' %}" alt="logo" height="60" /></a>
  </div>
  <div class="aside_info_inner">
    <p>We are in the feld of Home Offce Automation and Security & Surveillance, Biometric GPSTracker, Access control, Web Designing, LCD projectors Voice Recording solutions, Video Conferencing Equipments, Intruder Alarms, Automatic Gate, UPS, Inverter, Battery, System Sales & Services, Electrical, Cabling & Networking etc.</p>

    <div class="aside_info_inner_box">
      <h5>Contact Info</h5>
      <p class="mb-1">+91 86064 56046</p>
      <p class="mb-1">+91 97466 53651</p>
      <p>+91 73068 61054</p>

      <p>info@prompttechnologies.co.in</p>

      <h5>Office Address</h5>
      <p>
        Kodakkad Bank Building, Olat Kodakkad <br />
        Kasargod, Kerala Pin: 671310
      </p>
    </div>
    <div class="social_sites">
      <ul class="d-flex align-items-center justify-content-center">
        <li>
          <a href="#"><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-youtube"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
